html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  color: #F3E5AB;
  background-color: chocolate;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Cookie {
  cursor: pointer;
}