html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  color: #F3E5AB;
  background: radial-gradient(circle at center, chocolate, brown);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Cookie {
  cursor: pointer;
  animation: alive 3s infinite ease-in-out both;
}

@keyframes alive {
  0%, 100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }
}